{% if categories %}
<h3>Категории</h3>
            <ul class="sidebar_menu">
            {% if category_selected == 0 %}
			<li><a class="active" style='color: #2607ebff'>Все категории</a></li>
            {% else %}
            <li><a href="{% url 'home' %}">Все категории {{category.id}}</a></li>
            {% endif %}

            {% for category in categories %}
                {% if category.id == category_selected %}
                <li class="active" style='color: #2607ebff'>{{ category.name }}</li>
                    {% else %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endif %}
            {% endfor %}
			</ul>

{% endif %}


        