        <ul>
            {% if title == "Главная страница" %}
            <li><a class="selected">Главная</a></li>
            {% else %}
            <li><a href="{% url "home" %}">Главная</a></li>
            {% endif %}
            </li>
           
            {% if user.is_authenticated %}

                {% if title == "Добавить товар" %}
                <li><a class="selected">Добавить товар</a></li>
                {% else %}
                <li><a href="{% url "add_item" %}">Добавить товар</a></li>
                {% endif %}


                {% if title == "Профиль пользователя" %}
                <li><a class="selected">Профиль | {{ user.username }}</a></li>
                {% else %}
                <li><a href="{% url "users:profile" %}">Профиль | {{ user.username }}</a></li>
                {% endif %}


                {% if title == "Корзина" %}
                <li><a class="selected">🛒 Корзина</a></li>
                {% else %}
                <li><a href="{% url "view_cart" %}">🛒 Корзина</a></li>
                {% endif %}

                <li><a href="{% url "users:logout" %}">Выйти</a></li>

            {% else %}

                {% if title == "Авторизация" %}
                <li><a class="selected">Войти</a></li>
                {% else %}
                <li><a href="{% url "users:login" %}">Войти</a></li>
                {% endif %} 

                {% if title == "Регистрация" %}
                <li><a class="selected">Регистрация</a></li>
                {% else %}
                <li><a href="{% url "users:register" %}">Регистрация</a></li>
                {% endif %}

            {% endif %}



        </ul>
        <br style="clear: left" />